
*.dll
InsWebApp/obj/Debug/InsWebApp.csproj.FileListAbsolute.txt
InsWebApp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
*.xml
*.pdb
*.suo
*.txt
*.suo
*.cache
*.suo
*.suo
*.suo
